<!DOCTYPE html>
<html lang="en">

<title> wrapper{background-color: rgb(255, 255, 255);} </title>

header {background-color: rgb(79, 79, 191);
     border: 2px solid;
    padding-left: 5px;
    padding-top: 5px;
    padding-right: 5px;}
nav {background-color: rgb(255, 255, 255));
margin: 10px;}
main {background-color: rgb(194, 194, 211);
color: rgb(0, 0, 0);}
footer {background-color: rgb(144, 144, 167)}

body {background-color: rgb(125, 125, 179);}

table {
    border-collapse: collapse;
    width: 25%;
    border: 1px solid black;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}